body {
  font-family: 'Poppins', sans-serif;

  min-height: 100vh;
}
.nav-link:hover {
  color: #05bac9 !important;
}
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: 0px;
  margin-left: 0px;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 20px;
}

#btnJoinUs {
  background-color: #05bac9;
  height: 4.1rem;
}
.carousel-item {
  position: relative;
}
.carousel-content {
  position: absolute;
  width: 40%;
  top: 30%;
  left: 20%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.carousel-img {
  filter: brightness(50%);
  height: 100vh;
  object-fit: cover;
}
.carousel-inner {
  position: relative;
}
.mask {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: rgba(114, 95, 172, 0.267);
}
.carousel-content .description {
  flex-wrap: wrap;
}
.carousel-content .title {
  color: #05bac9;
  text-transform: uppercase;
}
.carousel-content .slogan {
  font-size: 45px;
}
.icon {
  color: #05bac9;
  font-size: 4rem;
}

.cardTitle {
  font-size: 19px;
  font-weight: 600;
}
.card {
  background-color: #f0fbfc;
}
.cardDescription {
  color: #6c757d;
}
.card:hover {
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: #05bac9;
  color: white !important;
}
.card:hover .cardDescription {
  color: white !important;
  transition: 0.5s;
}
.card:hover .icon {
  color: white !important;
  transition: 0.5s;
}

.linesTitle {
  color: #181d38;
}
.aboutContent span {
  color: #05bac9;
}

.aboutContent p {
  font-size: 15px;
}

.aboutItems {
  color: #05bac9;
  font-size: 22px;
  font-weight: bolder;
}
.lines div,
.lines-reversed div {
  background-color: #05bac9;
  height: 2px;
}

.lines div:first-child {
  width: 40px;
}

.lines div:nth-child(2) {
  width: 80px;
  margin-top: 0.8vh;
}

.lines-reversed div {
  /* margin-right: 0.5rem; */
  align-items: center;
  justify-content: center;
}

.lines-reversed div:first-child {
  width: 40px;
  margin-left: 50%;
}

.lines-reversed div:nth-child(2) {
  width: 80px;
  margin-top: 0.8vh;
}

.categoriesTitle span {
  color: #05bac9;
  font-size: 18px;
  font-weight: 600;
}
.categoriesTitle {
  flex-direction: column;
}

.test {
  background-color: #05bac9;
  height: 10rem;
  width: 10rem;
}
.cat-image {
  width: 100%;
}

.img-scale {
  transition: transform 0.3s ease-in-out;
}

.img-scale:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.studentCarouselBtn button:not(.active) {
  background-color: white !important;
}

.socialButtonsWrapper a {
  width: 39px;
  margin-right: 5px;
  text-align: center;
}
.socialButtonsWrapper a i {
  text-align: center;
  font-size: 15px;
}

.footerItemsLinks {
  height: fit-content;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.footerItemsLinks a {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.footerItemsLinks a::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: white;
  right: -10px;
}

.footerItemsLinks a:last-child::after {
  display: none;
}
